<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puyan.shengren.agricultural.Dao.UserDao">

    <!--   主要是在主键是自增的情况下，添加成功后可以直接使用主键值，其中keyProperty的值是对象的属性值不是数据库表中的字段名-->

    <resultMap id="BaseResultMap" type="com.puyan.shengren.agricultural.Enity.User" >
        <id column="userID" property="userID"></id>
        <result column="userName" property="userName"></result>
        <result column="passWord" property="passWord"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="type" property="type"></result>
        <result column="status" property="status"></result>
        <result column="lastLoginTime" property="lastLoginTime"></result>
        <result column="createDate" property="createDate"></result>
        <result column="creator" property="creator"></result>
        <result column="updateDate" property="updateDate"></result>
        <result column="updator" property="updator"></result>
        <result column="province" property="province"></result>
        <result column="city" property="city"></result>
        <result column="county" property="county"></result>
        <result column="town" property="town"></result>
        <result column="village" property="village"></result>
        <result column="cooperative" property="cooperative"></result>
    </resultMap>
    <sql id="Base_Column_List" >
    userID, userName, passWord, phone, email, type, status,lastLoginTime,createDate,creator,updateDate,updator,
    province,city,county,town,village,cooperative
    </sql>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from agricultural_user where userID=#{id,jdbcType=INTEGER};
    </select>

    <insert id="insert" parameterType="com.puyan.shengren.agricultural.Enity.User" >
    insert into agricultural_user (userID, userName, passWord,
      phone, email, type, status, lastLoginTime, createDate,
      creator, updateDate, updator, province, city, county, town,
      village, cooperative)
    values (
    null , #{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, null , now(), #{creator,jdbcType=INTEGER}, null, null,
      #{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},
      #{county,jdbcType=VARCHAR},#{town,jdbcType=VARCHAR},
      #{village,jdbcType=VARCHAR},#{cooperative,jdbcType=VARCHAR}
      )
    </insert>

    <select id="userLogin"  parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM agricultural_user
        WHERE userName=#{userName}
        and passWord=#{passWord}
    </select>

    <update id="updatePassWordByUserName" parameterType="map">
        update agricultural_user set passWord=#{passWord},updateDate=now(),updator=#{updator} where userName=#{userName}
    </update>

    <update id="update" parameterType="com.puyan.shengren.agricultural.Enity.User">
        update agricultural_user
        <set>
            <if test="userName !=null">
                userName=#{userName},
            </if>
            <if test="phone !=null">
                phone=#{phone,jdbcType=VARCHAR},
            </if>
            <if test="email !=null">
                email=#{email,jdbcType=VARCHAR},
            </if>
            <if test="type !=null">
                type=#{type,jdbcType=INTEGER},
            </if>
            <if test="status !=null">
                status=#{status,jdbcType=INTEGER},
            </if>
            <if test="updator !=null">
                updator=#{updator,jdbcType=INTEGER},
            </if>
            <if test="province !=null">
                province=#{province,jdbcType=VARCHAR},
            </if>
            <if test="city !=null">
                city=#{city,jdbcType=VARCHAR},
            </if>
            <if test="county !=null">
                county=#{county,jdbcType=VARCHAR},
            </if>
            <if test="town !=null">
                town=#{town,jdbcType=VARCHAR},
            </if>
            <if test="village !=null">
                village=#{village,jdbcType=VARCHAR},
            </if>
            <if test="cooperative !=null">
                cooperative=#{cooperative,jdbcType=VARCHAR},
            </if>
                updateDate=now()
        </set>
        where userID=#{userID}
    </update>

    <select id="getAll" parameterType="com.puyan.shengren.agricultural.Enity.User" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List"/> from agricultural_user
        <where>
            <if test="userName !=null">
               and userName=#{userName}
            </if>
            <if test="phone !=null">
                and  phone=#{phone,jdbcType=VARCHAR}
            </if>
            <if test="email !=null">
                and email=#{email,jdbcType=VARCHAR}
            </if>
            <if test="type !=null">
                and type > #{type,jdbcType=INTEGER}
            </if>
            <if test="status !=null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="province !=null">
                and province=#{province,jdbcType=VARCHAR}
            </if>
            <if test="city !=null">
                and city=#{city,jdbcType=VARCHAR}
            </if>
            <if test="county !=null">
                and county=#{county,jdbcType=VARCHAR}
            </if>
            <if test="town !=null">
                and town=#{town,jdbcType=VARCHAR}
            </if>
            <if test="village !=null">
                and village=#{village,jdbcType=VARCHAR}
            </if>
            <if test="cooperative !=null">
                and cooperative=#{cooperative,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update id="updateStatus" parameterType="map">
        update  agricultural_user set status=#{status,jdbcType=INTEGER} where userID=#{userID,jdbcType=INTEGER}
    </update>

</mapper>